@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
    scroll-snap-type: x mandatory;
    scrollbar-color: rgba(255, 255, 255, 0);
    scrollbar-width: none;
}

#splash {
    animation: dropDown 0.5s ease-in-out;
}

@keyframes dropDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(10%);
    }
    80% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}

.slide {
    flex: 1 0 100%;
    scroll-snap-align: center;
}

#slider-nav button {
    @apply lg:w-4 lg:h-4 w-3 h-3 rounded-[50%]
    bg-black;
    transition: opacity ease 250ms;
}

#slider-nav button:hover {
    opacity: 1;
}

.bus-card {
    background-image: url('../../assets/landpic.jpg');
    background-size: cover; background-position: center;
}

.faq-card {
    scrollbar-width: none;
}

#plusbtn {
    transform: rotate(90deg);
    transition: transform ease 0.4s;
}

#plusbtn.bi-dash {
    transform: rotate(0deg);
}

@media only screen and (orientation: landscape) {
    /* Styles for landscape orientation */
}