@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
    scroll-snap-type: x mandatory;
    scrollbar-color: rgba(255, 255, 255, 0);
    scrollbar-width: 0px;
}

.slide {
    flex: 1 0 100%;
    scroll-snap-align: center;
}

#slider-nav button {
    @apply lg:w-4 lg:h-4 w-3 h-3 rounded-[50%]
    bg-black;
    transition: opacity ease 250ms;
}

#slider-nav button:hover {
    opacity: 1;
}

.bus-card {
    background-image: url('../../assets/landpic.jpg');
    background-size: cover; background-position: center;
}

.faq-card {
    scrollbar-width: none;
}

#plusbtn {
    transform: rotate(90deg);
    transition: transform ease 0.4s;
}

#plusbtn.bi-dash {
    transform: rotate(0deg);
}

@media only screen and (orientation: landscape) {
    /* Styles for landscape orientation */
}